[submodule "keepstrong-payments"]
	path = keepstrong-payments
	url = https://github.com/rsvinicius/keepstrong-payments
[submodule "keepstrong-migrations"]
	path = keepstrong-migrations
	url = https://github.com/rsvinicius/keepstrong-migrations
[submodule "keepstrong-orders"]
	path = keepstrong-orders
	url = https://github.com/rsvinicius/keepstrong-orders
[submodule "keepstrong-rates"]
	path = keepstrong-rates
	url = https://github.com/rsvinicius/keepstrong-rates
[submodule "keepstrong-server"]
	path = keepstrong-server
	url = https://github.com/rsvinicius/keepstrong-server
[submodule "keepstrong-gateway"]
	path = keepstrong-gateway
	url = https://github.com/rsvinicius/keepstrong-gateway
